#main-container{
    display: inline-block;  
}

#holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px
}

#container {

    display: grid;
    gap: 1px;
    border: 1px solid black;
    background-color: white;
    max-width: 100%;
    max-height: 80vh; /* Adjust as needed */
    margin-top: 50px;
    border-radius: 5px;
    
    
}

.grid-item {
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    background-color: white;
    border: 1px solid black;
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
    cursor: pointer;

}

#new-grid,
#reset-btn,
#rainbow {
    background-color: gold;
    font-size: 30px;
    color: white;
    padding: 25px 20px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    width: 200px;
    margin: 30px 0px;
}


